#intro {
    min-height: 95vh;
    background-image: url("../img/IMG_20171217_140107.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* NEW */
}

.about{
    background-color: #B2DFDB;
}

.about blockquote {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
